*{
    margin: 0;
    padding: 0;
}

body{
   overflow: hidden;
   height: 100vh;
}


.taskbar{
    width: 100%;
    background-color: #f3f3f3;
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 110;
    justify-content: center;
    
}
.startmenu{
    position: absolute;
    bottom: -655px;
    width: 100%;
    text-align: center;
    transition: all 0.5s ease-in;
    
}
.startmenu img{
    border-radius: 8px;
}

.right{
    justify-self: flex-end;
    position: absolute;
    right: 0;
    margin: 6px 0;
    height: 85%;
}
#eop{
    margin-left: 10px;
    margin-top: 5px;
}
#pl{
    color: black;
    font-family: Georgia ;
    font-weight: bold;
}
#ru{
    margin-left: 20px;
    margin-top: 8px;
}
#op{
    font-family: Georgia;
    font-weight: bold;
    font-size: 14px;
}